<h3>Login</h3>

<form method="post" action="/login">
  <div class="row">
    <div class="medium-6 columns">
      <label>Username
        <input type="text" name="username" placeholder="username">
      </label>
    </div>
    <div class="medium-6 columns">
      <label>Password
        <input type="password" name="password" placeholder="password">
      </label>
    </div>
</div>
<p>
    {{error}}
</p>
  <div class="row">
    <input type="submit" class="button" value="Login">
  </div>
</form>
