<h3>Sign Up</h3>

<form method="post" action="/signup">
  <div class="row">
      <div class="medium-3 columns">
        <label>Last Name
          <input type="text" name="last_name" placeholder="last_name">
        </label>
      </div>
      <div class="medium-3 columns">
        <label>First Name
          <input type="text" name="first_name" placeholder="first_name">
        </label>
      </div>
    <div class="medium-3 columns">
      <label>Username
        <input type="text" name="username" placeholder="username">
      </label>
    </div>
    <div class="medium-3 columns">
      <label>Password
        <input type="password" name="password" placeholder="password">
      </label>
    </div>
  </div>
  <div class="row">
    <input type="submit" class="button" value="Sign Up">
  </div>
</form>
