<form action="/posts/addPost" method="post">
  <input type="text" name="title" placeholder="Title">
  <input type="text" name="body" placeholder="Post Here">
  <input type="hidden" name="client_id" value="{{list.id}}">
  <button type="submit">Create</button>
  <h2>{{error}}</h2>
  <a href="/posts">All Posts</a>
</form>
