<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
        <a href="/" class="logo"><h1> TimgBlog</h1></a>
    </header>
    <main>
        {{{body}}}
    </main>
  </body>
</html>
