<h2>Posts</h2>

{{#each list}}
    <div class="post">
    <p>
      <a href="/posts/{{this.post_id}}" class="postTitle">{{this.title}}</a>
  </p>
    <p>
        {{this.body}}
    </p>
    <p>
        Poster: {{this.username}}
    </p>
</div>
{{/each}}

<a href="/posts/addPost">Create new post</a>
<a href="/">Home</a>
